<ul [ngSwitch]="so">
  <li *ngSwitchCase="'Windows'">El que usan todos</li>
  <li *ngSwitchCase="'Mac'">Los que les gusta lo bonito, tienen pasta</li>
  <li *ngSwitchCase="'Linux'">Programador de siempre</li>
  <li *ngSwitchCase="'Otros'">Otros tipos de sistema operativo</li>
  <li *ngSwitchDefault>Indica un S.0.</li>
</ul>

<input type="text" [(ngModel)]="so"/>
<button>Ver</button>



<div [ngStyle]="{'background': color ? color:'red'}">Texto con el fondo rojo</div>
<button (click)="color = 'yellow'">Amarillo</button>
<button (click)="color = 'blue'">Azul</button>
<button (click)="color = 'purple'">Morado</button>